{% extends "base/index.html" %}

{% block content %}
<div>
  <h1>CANTAQUIZ</h1>

  <button onclick="startSong()">🎵 Avvia Karaoke</button>
  <button onclick="requestQuestion()">❓ Avvia Domanda</button>
  <button onclick="endQuestion()">✅ Chiudi Domanda</button>
  <button onclick="showRanking()">📄 Mostra Classifica</button>
  <button onclick="refreshPlayers()">Refresh Players</button>

  <h2>Classifica</h2>
  {% for team in teams %}
    <p>{{ team }}
    {% for t in teams[team] %}
      {{ t }}:{{ teams[team][t] }} ||
    {% endfor %}
    </p>
  {% endfor %}
  <ul id="scores"></ul>

  <div id="hostQuestion">
    <h3>Current Question</h3>
    <p>{{ current_question }}</p>
    <h3>All Questions</h3>
    {% for q in questions %}
      <p> {{ q }}</p>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/host.js"></script>
{% endblock %}